<h1><%= @audio_file.song_title %></h1>

<a href="<%= rails_blob_path(@audio_file.song_file) %>">This link will totally download the audio file</a>

<p>maybe it would be nice to have a textarea to enter lyrics here</p>

<p>and perhaps a media player to play the audio file on the page</p>